* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    list-style-type: none;
}

body {
    border: 1px solid black;
    font-family: sans-serif;
    max-width:1024px;
    min-width: 600px;
    margin: 0 auto;
    
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 8rem;
    margin-bottom: .5rem;
    width: 100%;
    position: relative;
}

.header__logo {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3rem;
    font-size: 1.7rem;
}

#logo::before {
    content: 'LOGO';
}

ul.header__nav_items {
    list-style: none;
    display: flex;
}

.header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: .5rem;
}

.header__nav_search {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.header__nav_item {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}

.header__nav_search_input {
    height: 100%;
    width: 220px;
    border: 1px solid grey;
    padding: 5px;
}

.header__nav_search_input::placeholder {
    font-size: 1rem;
}

.header__nav_search_submit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border: none;
    background: none;
    padding: 0;
    font-size: 1rem;
    height: 100%;
    width: auto;
}


.search-form {
    position: relative;
    height: 2rem;
}


/*^^^^^^^^^^ header ^^^^^^^^^^^^^^^^^^^^^*/


/* ----------- top ----------------*/
.top-banner {
    border: 1px solid black;
    height: 3rem;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.top-banner_sections {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-banner_section {
    flex: 1;
    padding: 2rem;
}


/* main */

.side-bar-left__item::before {
    content: "Section ";

}

.side-bar-right_feature::before {
    content: "Feature ";
}

.main-content_item1 {
    border: 1px solid grey;
    content: '';
}

main {
    margin: .5rem;
    display: grid;
    grid-gap: 10px;
    /* grid-template-areas: 
    ".top-banner .top-banner .top-banner"
    ".side-bar-left .main-content .side-bar-right"
    ".side-bar-left .main-content .side-bar-right"
     */
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    ".side-bar-left .main-content .main-content .side-bar-right"
    ".side-bar-left .main-content .main-content .side-bar-right";

}

.side-bar-left, .main-content_item1, .main-content_item2, .side-bar-right_item1, .side-bar-right_item2 {
    border: 1px solid black;
}

.side-bar-left__items {
    display: grid;
    grid-auto-columns: 1fr;
}

.side-bar-left__item {
    padding: .5rem;
}

.main-content {
    display: grid;
    grid-gap: .5rem;
    grid-template-rows: 2fr 1fr;
}

.side-bar-right {
    display: grid;
    grid-gap: .5rem;
    grid-template-rows: 2fr 1fr;
}

.side-bar-right_item1, .side-bar-right_item2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.side-bar-right_feature {
    padding: .5rem;
}